.center {
    width: 66%;
    -moz-text-align-last: center;
    text-align-last: center;
    padding-left: 40%;
}

.fill-grid {
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-gap: 30px;
    -moz-text-align-last: center;
    text-align-last: center;
    padding-left: 2%;
}

.main-grid {
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.gap-right {
    margin-right: 40px
}

.people-grid {
    display: grid;
    grid-template-columns: 0fr 1fr 5fr;
    padding-left: 12%;
}

.right-action {
    margin-left: 80%;
}

.title {
    margin-left: 17%;
}

.add-grid {
    display: grid;
    grid-template-columns: 0fr 5fr 5fr;
    padding-left: 12%;
}

.add-but {
    margin-top: 20px;
}

.role {
    max-width: 100px;
    right: 8px;
}

.plus {
    padding-left: 42%;
}

.d-hours {
    width: 5%;
    text-align: center;
    margin-left: 501%;
}